<div class="group relative">
  <a href="{{ product_product.url }}">
    {% if product_product.featured_image %}
      <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:h-80">
        <img
          src="{{ product_product.featured_image | image_url: width: 340, height: 340 }}"
          alt="{{ product_product.featured_image.alt }}"
          class="h-full w-full object-cover object-center lg:h-full lg:w-full">
      </div>

    {% else %}
      {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
    {% endif %}
  </a>

  <div class="mt-4 flex justify-between">
    <div>
      <h3 class="text-sm text-gray-700">
        <a href="{{ product_product.url }}">
          <span aria-hidden="true" class="absolute inset-0"></span>
          {{ product_product.title }}
        </a>
      </h3>
    {% comment %} <p class="mt-1 text-sm text-gray-500">Black</p> {% endcomment %}
    </div>
    <p class="text-sm font-medium text-gray-900">{{ product_product.price | money }}</p>
  </div>
</div>